---
layout: page
permalink: /support-communication/
---

<div class="home">

  <h1 class="page-heading">Support These Organizations By Spreading The Word</h1>

  <ul class="org-list">
    {% for org in site.data._orgs %}
      {% if org.links.communication %}
      <li class="org-card">
        <h2>
          <a href="{{org.url}}">{{ org.title | escape }}</a>
        </h2>
        <p>{{org.desc}}</p>
        <a class="action-button" href="{{ org.links.communication }}">Spread the word</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>


</div>
