---
layout: page
permalink: /support-financially/
---

<div class="home">

  <h1 class="page-heading">Support These Organizations Financially</h1>

  <ul class="org-list">
    {% for org in site.data._orgs %}
      {% if org.links.financial %}
      <li class="org-card">
        <h2>
          <a href="{{org.url}}">{{ org.title | escape }}</a>
        </h2>
        <p>{{org.desc}}</p>
        <a class="action-button" href="{{ org.links.financial }}">Give to {{org.title}} </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>


</div>
